/* Main layout: dark gray text, light gray background & 10 pt sans serif font */
body
{
  color: #333333;
  background-color: #EEE8E8;
  text-decoration: none;
  font-family: Helvetica,Arial,Geneva,Swiss,SunSans-Regular,sans-serif;
  font-size: 9pt;
  margin: 0px;
  padding: 0px;
}

/* IE6 bug: the margin on the div are corrupting the window width */
.licencebody
{
  margin: 8px 24px;
}

/* Links: underlined, dark gray, darker when selected */
a
{
  text-decoration: underline;
}
a:link
{
  color: #525252;
}
a:visited
{
  color: #525252;
}
a:hover
{
  color: #333333;
}
a:active
{
  color: #333333;
}

/* Images: no border (for links) & middle aligned */
img
{
  border-style: none;
  border-width: 0px;
  vertical-align: middle;
}

/* Header (1): 16 pt bold white over dark gray background */
/* No margin, minor padding */
h1
{
  background-color:#6A6666;
  color: #ffffff;
  font-size: 16pt;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  margin: 0px;
  padding: 4px;
}

/* Header (2): bold underline, standard margin */
h2
{
  color: #333333;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin: 8px 0px;
  padding: 0px;
}

/* Header (3): bold, standard margin */
h3
{
  color: #333333;
  font-size: 10pt;
  font-weight: bold;
  text-align: left;
  margin: 8px 0px;
  padding: 0px;
}

/* Paragraph: standard margin */
p
{
  margin: 8px 0px;
  padding: 0px;
}

/* Selection list: smaller font, no margin, no padding */
option, select, input
{
  color: #333333;
  text-decoration: none;
  font-size: 9pt;
  margin-left: 0px;
}

/* Form: no margin, no padding */
form
{
  display: inline;
  margin: 0px;
  padding: 0px;
}

/* Text alignment classes */
.left
{
  text-align: left;
}
.right
{
  text-align: right;
}
.center
{
  text-align: center;
}

/* Vertical alignment classes */ 
.middle
{
  vertical-align: middle;
}
.top
{
  vertical-align: top;
}
.bottom
{
  vertical-align: bottom;
}
.baseline
{
  vertical-align: baseline;
}

/* Font variants: standard, bold, small, small + bold */
.txtstd
{
  text-decoration: none;
  color: #333333;
  font-size: 11pt;
  font-weight: normal;
  line-height:22px;
}
.txtbld
{
  text-decoration: none;
  color: #333333;
  font-size: 11pt;
  font-weight: bold;
  line-height:22px;
}
.txtsml
{
  text-decoration: none;
  color: #333333;
  font-size: 11pt;
  font-weight: normal;
  line-height:22px;
}
.txtsmi
{
  text-decoration: none;
  color: #333333;
  font-size: 10pt;
  font-weight: normal;
  font-style: italic;
  line-height:22px;
}
.txtsmb
{
  text-decoration: none;
  color: #333333;
  font-size: 10pt;
  font-weight: bold;
  line-height:22px;
}
.txtsmu
{
  text-decoration: underline;
  color: #333333;
  font-size: 10pt;
  font-weight: normal;
  line-height:22px;
}

/* Special block for first link (accessibility) */
.firstlink
{
  position: absolute;
  top: 1px;
  left: 1px;
  width: 1px;
  height: 1px;
  border-style: none;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}

/* Left column, fixed position & size */
.leftcol
{
  position: absolute;
  top: 8px;
  left: 8px;
  width: 250px;
  min-width: 250px;
  height: auto;
  border-style: none;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}

/* Middle column, fixed position & size */
.middlecol
{
  position: absolute;
  top: 8px;
  left: 274px;
  width: 420px;
  min-width: 420px;
  height: auto;
  border-style: none;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}

/* Right column, fixed position & size */
.rightcol
{
  position: absolute;
  top: 8px;
  left: 710px;
  width: 120px;
  height: auto;
  border-style: none;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}

/* One column, for tests */
.onecol
{
  position: absolute;
  top: 8px;
  left: 8px;
  width: 420px;
  min-width: 420px;
  height: auto;
  border-style: none;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}

/* Fixed-height title row */
.title
{
  position: absolute;
  height: 48px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Fixed-size, left-bottom aligned box (language) */
.lefttitle
{
  position: absolute;
  bottom: 0px;
  left: 5px;
  width: auto;
  text-align: left;
  vertical-align: bottom;
  margin: 0px;
  padding: 0px;
}

/* Fixed-size, right-bottom aligned box (help) */
.righttitle
{
  position: absolute;
  bottom: 0px;
  left: auto;
  right: 5px;
  width: auto;
  text-align: right;
  vertical-align: bottom;
  margin: 0px;
  padding: 0px;
}

/* Fixed-position content row */
.content
{
  position: absolute;
  top: 56px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Content box, white background, gray border */
.mainborder
{
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #6A6666;
  border-width: 1px;
  margin: 0px;
  padding: 0px;
}

/* Margins for content inside content box */
.sidemargin
{
  margin: 0px;
  padding: 0px 4px;
}

/* Comment box, gray background, full width */
.comment
{
  background-color:#EEE8E8;
  margin: 0px;
  padding: 4px;
  font-size: 8pt;
  text-align: center;
}

/* Button: bold font, some room around */
.button
{
  font-size: 10px;
  font-weight: bold;
  margin: 0px;
  padding: 2px;
}
.radio
{
  margin-left: 0px;
  margin-bottom: 4px;
  vertical-align: middle;
}

/* Fixed width for selection lists & input */
.region
{
  width: 100px;
}
.country
{
  width: 120px;
}
.city
{
  width: 160px;
}
.stop
{
  width: 180px;
}

/* Bookmark inside title */
.bookmark
{
  position: absolute;
  top: 8px;
  right: 0px;
  width: auto;
  margin: 0px;
  padding: 0px 4px;
  text-align: right;
}
.bookmark a:link
{
  color: #EEE8E8;
}
.bookmark a:visited
{
  color: #EEE8E8;
}
.bookmark a:hover
{
  color: #ffffff;
}
.bookmark a:active
{
  color: #ffffff;
}

/* Fixed blocks for start & end stops and selections */
.floatright
{
  float: right;
  text-align: right;
}
.floatleft
{
  float: left;
  text-align: left;
}
.stopblock
{
  float: left;
  text-align: left;
  border: solid 1px #D0CACA;
  padding: 4px;
  width: 192px;
}

/* Route description formats */
.routedesc
{
  margin-left: 20px;
}
.routeicon
{
  position: absolute;
  left: 5px;
}
.routetake
{
  margin-left: 3px;
  padding-left: 14px;
  border-left-style: solid;
  border-left-width: 3px;
}
.routeline
{
  margin-left: 8px;
  padding-left: 28px;
  border-left-style: solid;
  border-left-width: 3px;
}

.doublerouteline
{
  margin-left: 8px;
  padding-left: 28px;
  border-left-style: solid;
  border-left-width: 6px;
}

.doublerouteline
{
  margin-left: 8px;
  padding-left: 28px;
  border-left-style: solid;
  border-left-width: 6px;
}


/* Clear space around floating block */
.spacer
{
  clear: both;
}
/* Workaround for IE bug */
.empty
{
  margin: 0px;
  padding: 0px;
  /* border: dotted 1px #cc0000; */
}

/* Vertical space */
.vspacer
{
  margin: 4px 0px;
  padding: 0px;
}

/* Half vertical space */
.vspacerh
{
  margin: 0px 0px 4px 0px;
  padding: 0px;
}

/* Horizontal line */
.line
{
  border-bottom-style: solid;
  border-bottom-color: #6A6666;
  border-bottom-width: 1px;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  margin: 8px 4px 0px 4px;
  padding: 0px;
}

/* Fix for bug on br tag in IE (default white space) */
.iebrbug4
{
  line-height: 4px;
  font-size: 4px
}
.iebrbug8
{
  line-height: 8px;
  font-size: 8px
}

/* Licence & help page main layout */
.licence
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 8px 24px;
  padding: 0px;
}

.divsel
{
  position: absolute;
  visibility: hidden;
  display: none;
}
.diverr
{
  visibility: hidden;
  display: none;
  color: #cc0000;
  font-size: 8pt;
  font-weight: normal;
}
.selstp
{
  width: 204px;
  background-color: #ffffff;
}
.nowrap
{
  white-space: nowrap;
}

/* Line map */
.linemap
{
  text-align: center;
  margin: 8px 0px 8px 0px;
  padding: 0px;
}

/* Google maps layout: title, map zones */
.maptitle
{
  color: #ffffff;
  background-color: #6A6666;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  min-width: 100%;
}
.mapclose
{
  float: right;
  height: 20px;
  line-height: 2px;
  font-size: 2px;
  text-align: right;
}
.map
{
  width: 100%;
  height: 410px;
  margin: 0px;
  padding: 0px;
}
.map2
{
  /* width: 800px;
  height: 600px; */
}
.maptable
{
  visibility: collapse;
  display: none;
  width: 100%;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.maptable2
{
  position: absolute;
  left: 430px;
  top: 0px;
  visibility: collapse;
  display: none;
  /* width: 800px;
  min-width: 800px; */
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: 1px solid #6A6666;
}
.noprint
{
}

/* Experimental
#tooltip
{
  position: absolute;
  width: 240px;
  border: 1px solid black;
  padding: 2px;
  background-color: #ffffaa;
  visibility: hidden;
  z-index: 100;
  text-decoration:none;
  color:#000000;
  font-size:10pt;
}
 */

/* ------------- */
/* Print version */
/* ------------- */
@media print
{
  /* White background */
  body
  {
    background-color: #FFFFFF;
  }

  /* Hide specific elements */
  .noprint
  {
    visibility: hidden;
    display: none;
  }

  /* Hide left column contents */
  .leftcol .content
  {
    visibility: hidden;
    display: none;
  }

  /* Hide right column (ads) */
  .rightcol
  {
    visibility: hidden;
    display: none;
  }

  /* Reposition columns */
  .leftcol, .middlecol
  {
    top: 0px;
    left: 0px;
  }

  /* Map adjustment */
  .maptable
  {
    position: absolute;
    top: 0px;
    left: 425px;
    width: 420px;
    height: auto;
    border-style: solid;
    border-color: #6A6666;
    border-width: 1px;
    margin: 0px;
    padding: 0px;
  }
  .vspacer
  {
    margin: 0px;
  }
}
